/*-----------------------------------------------------------------------------------

    Template Name: MOBO HTML Mobile Template
    Template URI: http://bootexperts.com
    Description: This is Mobile Template
    Author: BootExperts
    Author URI: http://bootexperts.com
    Version: 1.0



-----------------------------------------------------------------------------------
    
    CSS INDEX
    ===================
	
    1. Theme Default CSS (body, link color, section etc)
    2. left sidebar css
  	3. right side bar css
  	4. home css
	  5. creative-area css
    6. features-area css
    7. all product css
    8. our client css
    9. portfolio-area
    10. footer css
    11. shop page css
    12. product details css
    13. sopping cart css
    14. Check out page css
    15. about page css
    16. dashboard page css
    17. register login  page css
    18. contact us page css
    19. gallary page css
    20. layout and notification  page css

	



	
-----------------------------------------------------------------------------------*/

/*------------------------
7. all product css
--------------------------*/
.all-product-area .content-block {
  margin-bottom: 0;
  padding: 0;
  margin-top: 15px;
}
.all-product-area.warper {
  padding-bottom: 0;
}
.buttons-row a.active {
  background: #4CAD4C none repeat scroll 0 0;
  color: #fff;
}

.buttons-row {
  display: block;
  margin-bottom: 15px;
  overflow: hidden;
  text-align: center;
}
.buttons-row a {
  border: 1px solid #ccc;
  color: #124550;
  display: inline-block;
  padding: 4px 10px;
  text-align: center;
}
.single-product {
  padding-bottom: 20px;
  padding-top: 10px;
}
.single-product:last-child{margin: 0;}
.pro-img {
  text-align: center;
  position: relative;
}
.pro-content{}
.pro-content > h3 {
  font-size: 19px;
  font-weight: 400;
  margin: 0;
}
.pro-content h3 a {
  color: #444;
}
.pro-content > p {
  color: #444;
  font-size: 11px;
  font-weight: 400;
  margin: 0;
}
.pro-content > h4 {
  background: #4CAD4C none repeat scroll 0 0;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  margin: 10px 0;
  padding: 3px 10px;
}
.pro-rating-s > a {
  color: #ffae00;
}
.pro-rating-s > p {
  color: #888888;
  font-size: 11px;
  margin: 0;
}
.add-cate{margin-top: 20px;}
.add-cate li {
  
  display: inline;
  font-size: 12px;
  margin-right: 4px;
}
.add-cate a {
  color: #fff;
   padding: 5px 9px;
   background: #4CAD4C none repeat scroll 0 0;
}



