.welcomescreen-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  z-index: 10500;
  color: #666;
  font-size: 16px;
  font-family: "San Francisco", "Helvetica Neue", "Lucida Grande", sans-serif;
}

.welcomescreen-closebtn{
  top: 5px;
  right: 5px;
  position: absolute;
  text-align: right;
  z-index: 9998;
  font-size: 14px;
  padding: 15px;
}

.welcomescreen-swiper {
  position:relative;
  width: 100%;
  height: 100%;
}

.welcomescreen-picture{
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 0;
}

.welcomescreen-picture img{
  width: 100%;
  height: 100%;
}
.welcomescreen-text {
  position:absolute;
  bottom: 65px;
  left: 0;
  right: 0;
  padding-left: 20px;
  padding-right: 20px;
  text-align:center;
  width: 100%;
}
.welcomescreen-text .loader{
  position:absolute;
  width: 8%;
  left:46%;
}
.welcomescreen-content {
  padding: 15px;
}

.welcomescreen-container .swiper-pagination-bullet{
  background: rgba(255, 255, 255, 0.9) !important;
}

.welcomescreen-container .swiper-pagination-bullet-active{
  background: #fff;
}

.swiper-container-horizontal>.swiper-pagination{
  bottom: 20px;
}

html.with-statusbar-overlay .welcomescreen-container{
    top: 20px;
}