.login_opacity {
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.login_opacity .logo{
    position: absolute;
    width: 50%;
    left: 25%;
    top: 100px;
}
.login_opacity .login_form{
    position: absolute;
    width: 70%;
    height: 240px;
    left: 15%;
    top: 200px;
}
.login_form input{
    border: white 1px solid;
    border-radius: 25px;
    width: 100%;
    height: 12%;
    margin-top: 15px;
    text-align: center; 
    color: white;
    background: transparent;
}
#submitLogin{
    width: 102%;
    height: 15%;
    background-color: #8ABA2A; 
    border-color: #8ABA2A;
}
.login_form input::placeholder { 
    color: white;
}
.navbarlogo{
    width: 100px;
    height: 45px;
}
.icon{
    position: absolute;
    height: 80%;
    top: 10%;
}
.menu_text{
    position: absolute;
    left: 18%;
    font-weight: bold;
}
.logout_botton_group{
    margin-top: 20%;
}
.button_block{
    margin-top: 5%;
}
.period_menu{
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    position: absolute;
    left: 30px;
    top: 15px;
}
.position_panel_back{
    position: absolute;
    left: 1px;
    top: 15px;
}
.icon_apure{
    height: 70%;
    margin-top: -12px;
}
.house .icon_apure{
    margin-left: 30px;
}
.user .icon_apure{
    margin-right: 30px;
    padding-left: 6px;
}
.navbar{
    background: #72bb53;
}
.ordered_sizes{
    position: relative;
    width: 10%;
    height: 30%;
    top: 20%;
    left: 40%;
}