@media screen and (min-width: 310px) and (max-width: 370px) {
    .left_image{
        width: 130px;
        height: 130px;
    }
    .right_image{
        width: 130px;
        height: 130px;
    }
    .left_add_to_cart, .right_add_to_cart{
        position: absolute;
        width: 130px;
        height: 30px;
        left: 4%;
        top: 200px;
    }
    .right_add_to_cart{
        left: 56%;
    }

    .left_description{
        width: 42%;
        height: 10%;
        left: 5%;
        top: 130px;
        word-wrap: break-word;
        max-width: 42%;
        line-height: 20px;
    }

    .right_description{
        width: 42%;
        height: 10%;
        right: 5%;
        top: 130px;
        word-wrap: break-word;
        max-width: 42%;
        line-height: 20px;
    }
    .left_price{
        width: 20%;
        height: 10%;
        left: 10%;
        top: 160px;
        text-align: right;
    }
    .right_price{
        width: 20%;
        height: 8%;
        right: 22%;
        top: 160px;
        text-align: right;
    }
    .right_price, .right_group_price, .left_price, .left_group_price{
        top: 180px;
    } 
    .listing_container{
        height: 250px;
    }

    .single_product_image img {
        position: absolute;
        width: 120px;
        height: 120px;
        left: 2%;
        top: 2%;
    }
    .product_description {
        font-size: 19px;
    }
    .cart_image img {
        position: absolute;
        width: 120px;
        height: 120px;
        left: 10px;
        top: 5%;
    }
    .cart_container, .buyer_cart_container {
        position: relative;
        margin-top: 9%;
        margin-bottom: 5%;
        width: 100%;
        height: 80px;
        padding-top: 15%;
    }
    .text {
        position: absolute;
        left: 140px;
        top: 3%;
        font-size: 10px;
        color: gray;
        word-wrap: break-word;
        width: 50%;
    }
    .size_num_plus_minus {
        width: 55%;
        height: 25px;
        left: 45%;
        position: relative;
        top: -18px;
        padding-top: 10px;
    }
    .total_amount {
        position: absolute;
        right: 3%;
        bottom: -20%;
    }
    .info_button {
        position: absolute;
        width: 33%;
        left: 34%;
        text-align: center;
        font-size: 15px;
    }
}