.banner_vip{
    width: 100%;
    height: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
}
.banner_vip_block{
    position: relative;
    top:2%;
    bottom: 5%;
}
.mainpage{
    margin-top:0;
}
.thisgroupbuy{
    color: black;
    font-size: 130%;
    font-weight: bold;
    text-align:center;
}

.listing_container{
    position: relative;
    width: 100%;
    height: 280px;
    top: 0;
}
.left_image{
    position: absolute;
    width: 160px;
    height: 160px;
    left: 5%;
    top:0;
}
.right_image{
    position: absolute;
    width: 160px;
    height: 160px;
    right: 5%;
    top:0;
}
.left_image img, .left_add_to_cart img,
.right_image img, .right_add_to_cart img{
    width: 100%;
    height: 100%;
}

.left_add_to_cart, .right_add_to_cart{
    position: absolute;
    width: 160px;
    height: 34px;
    left: 5%;
    top: 230px;
}
.right_add_to_cart{
    left: 52%;
}
.left_description{
    position: absolute;
    width: 42%;
    height: 10%;
    left: 5%;
    top: 160px;
    word-wrap: break-word;
    max-width: 42%;
    line-height: 20px;
}

.right_description{
    position: absolute;
    width: 42%;
    height: 10%;
    right: 5%;
    top: 160px;
    word-wrap: break-word;
    max-width: 42%;
    line-height: 20px;
}
.left_price, .left_group_price{
    position: absolute;
    width: 20%;
    height: 10%;
    left: 23%;
    top: 200px;
    text-align: right;
    color: #ff5d55;
}
.left_price{
    left: 10%;
    text-decoration: line-through;
}

.right_price, .right_group_price{
    position: absolute;
    width: 20%;
    height: 8%;
    right: 8%;
    top: 200px;
    text-align: right;
    color: #ff5d55;
}
.right_price{
    right: 21%;
    text-decoration: line-through;
}
.collective_money{
    position: absolute;
    top: 70px;
    height: 30px;
    width: 96%;
    left: 2%;
    border-radius: 25px;
    color: white;
    font-size: 150%;
    font-weight: bold;
}

.text_on_top{
    z-index:1000;
}
.text_on_top .percent{
    position: absolute;
    right: 0;
    color: green;
}
.color_down{
    z-index: -1000;
}
.navbar .left {
    margin-top: 10px;
}
.iphone_badge{
    margin-top: -25px;
}
.browser_recommend{
    font-size: 10px;
}
.info_confirm_shop{
    position: relative;
    top: 15px;
}
.single_product_image img{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 2%;
    top: 2%;
}

.popup{
    position: absolute;
    top: 60%;
  }
  .close-popup{
    color: black;
    position:absolute;
    right: 5%;
    top: 2%;
  }
  
  .product_add_to_cart img{
    position: absolute;
    width: 50%;
    height: 40px;
    right: 5%;
    top: 30%;
  }
  .product_description{
    position: absolute;
    left: 44%;
    top: 4%;
    font-size: 20px;
    font-weight: bold;
    word-wrap: break-word;
    width: 30%;
  }
  .product_number_choice{
    position: absolute;
    right: 5%;
    top: 22%;
  }
  .product_size_choice{
    position: absolute;
    left: 5%;
    top: 32%;
    width: 45%;
    /* border: 2px solid black; */
  }
  
  .product_size_choice .one ,
  .product_size_choice .two, 
  .product_size_choice .three, 
  .product_size_choice .four, 
  .product_size_choice .five, 
  .product_size_choice .six,
  .product_size_choice .seven{
    float: left;
    position: relative;
    border:1px solid black;
    width: 15%;
    text-align:center;
  }
  .product_size_choice .five{
    width: 20%;
  }
  .product_size_choice .six,
  .product_size_choice .seven{
    width: 30%;
  }
  .product_price, .product_original_price{
    position: absolute;
    right: 5%;
    top: 10%;
    font-size: 150%;
    font-weight: bold;
    color: #FF8351;
  }
  
  .product_original_price{
    right: 5%;
    top: 15%;
    font-size: 100%;
    text-decoration: line-through;
  }

  .cart_container, .buyer_cart_container, .summary_cartcontainer{
    position: relative;
    margin-top:5%;
    margin-bottom:5%;
    width: 100%;
    height: 200px;
    padding-top: 15%;
}
.cart_image img{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 10px;
    top:16%;
}
.total_amount{
    position: absolute;
    right: 3%;
    bottom:-10%;
}
.total_items{
    position: absolute;
    right: 3%;
    bottom:25%;
}
.close_btn{
    position: absolute;
    right: 3%;
    top:5%;
    color: #ff5d55;
}
.text{
    position: absolute;
    left: 160px;
    top: 3%;
    font-size: 12px;
    color: gray;
    word-wrap: break-word;
    width: 50%;
}
.size_num_plus_minus{
    width: 55%;
    height: 30px;
    left: 45%;
    position: relative;
    top: -18px;
    padding-top: 10px;
}
.plus{
    left: 45%;
}
.size{
    font-size: 13px;
}
.minus{
    left: 15%;
}
.num{
    /* font-size: 20px; */
    left: 33%;
    position: absolute;
}
.submenu{
    width: 100%;
    margin-top: 15px;
    height: 10px;
}
.confirm_button{
    position: absolute;
    width: 33%;
    left: 0;
    text-align:center;
    color: #ff5d55;
}
.info_button{
    position: absolute;
    width: 33%;
    left: 34%;
    text-align:center;
}
.finish_button{
    position: absolute;
    width: 33%;
    right:0;
    text-align:center;
}
.size{
    /* background-color: gray;
    width: 15px;
    height: 37px;
    color: white;
    text-align:center;
    border-radius: 5px;
    padding-top: 8%; */
}
.num{
    /* font-weight: bold;
    padding-top: 8%; */
}
.minus, .plus{
    font-size: 45px;
    line-height: 0;
    position: absolute;
    top: 55%;
    color: #ff5d55;
}
.price_sep{
    height: 3px;
    background-color: gray;
    width: 90%;
    position: relative;
    left: 5%;
    top: 15px;
}
.submenu_sep{
    height: 5px;
    background-color: gray;
    width: 68%;
    left: 33%;
    position: relative;
    top: 15px;
}
.total_payment{
    position: relative;
    width: 90%; 
    left: 5%;
    text-align: right;
    font-size: 20px;
    padding-top: 5%;
    /* top: 5%; */
    /* bottom: 15%; */
    margin-top: 5%;
    margin-bottom: 5%;
}
.price_final, .price_summary{
    color: #ff5d55;
    font-size:30px;
}
.selected_bar{
    background-color: #ff5d55;
    width: 33%;
    height: 5px;
    left:0;
    top: 20px;
    position: relative;
}
.summary_size{
    width: 25%;
    height: 25px;
    left: 45%;
    position: relative;
    top: -18px;
    padding-top: 0;
}