@media screen and (min-width: 410px) and (max-width: 470px) {
    
    .right_description {
        right: 2%;
    }

    .right_group_price {
        right: 5%;
    }

    .right_price{
        right: 16%;
    }
    .left_add_to_cart, .right_add_to_cart{
        position: absolute;
        width: 160px;
        height: 34px;
        left: 5%;
        top: 230px;
    }
    .right_add_to_cart{
        left: 56%;
    }
}

@media screen and (min-width: 471px) {
    .right_add_to_cart{
        left: 65%;
    }

}