@media screen and (max-width: 310px) {
    
    .left_add_to_cart, .right_add_to_cart{
        position: absolute;
        width: 130px;
        height: 26px;
        left: 4%;
        top: 200px;
    }
    .right_add_to_cart{
        left: 54%;
    }
    .collective_money{
        height: 7%;
        top: 11%;
    }
    .left_price, .right_price, .left_group_price, .right_group_price{
        top: 170px;
    }
    .left_group_price{
        left: 25%;
    }
    .left_price{
        left: 7%;
    }
    .right_price {
        right: 25%;
    }
    .listing_container{
        height: 250px;
    }
    .thisgroupbuy{
        font-size: 100%;
    }
    .right_image{
        width: 100px;
        height: 100px;
    }
    .left_image{
        width: 100px;
        height: 100px;
    }
    .left_description {
        position: absolute;
        width: 41%;
        height: 10%;
        left: 5%;
        top: 110px;
        word-wrap: break-word;
        max-width: 42%;
        line-height: 20px;
    }
    .right_description {
        position: absolute;
        width: 41%;
        height: 10%;
        right: 5%;
        top: 110px;
        word-wrap: break-word;
        max-width: 42%;
        line-height: 20px;
    }

    .left_add_to_cart, .right_add_to_cart {
        position: absolute;
        width: 100px;
        height: 26px;
        left: 4%;
        top: 200px;
    }

    .right_add_to_cart{
        left: 54%;
    }
}