html, body {
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
}
body {
	color: #344644;
	background: #363636;
}
h1, h2, h3, h4, h5, h6 {	
    font-family: 'Titillium Web', Geneva, sans-serif;
    font-weight: 400;
}
h1 {
	clear: both;
    color: #34D1BE;
    margin: 15px 0;
    padding-left: 30px;
}
h2 {
	clear: both;
    font-size: 1.8em;
    margin-bottom: 10px;
    padding: 10px 0 10px 30px;
}
h3 {
	border-bottom: 1px solid #C2C2C2;
	padding-left: 5px;
	margin-bottom: 20px;
	margin-top: 40px;
}
h3 > span {
	border-bottom: 2px solid #C2C2C2;
    display: inline-block;
    padding: 0 5px 5px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}

a {
	color: #2bb6a3;
	outline: none !important;
}
a:hover,
a:focus {
	color: #2bb6a3;
}
@media (max-width: 420px) {
	html,body {
		font-size: 12px;
	}
}

.container {
	padding-left: 8px;
	padding-right: 8px;
}
.row {
    margin-left: -8px;
    margin-right: -8px;
}
.col-xs-1, 
.col-sm-1, 
.col-md-1, 
.col-lg-1, 
.col-xs-2, 
.col-sm-2, 
.col-md-2, 
.col-lg-2, 
.col-xs-3, 
.col-sm-3, 
.col-md-3, 
.col-lg-3, 
.col-xs-4, 
.col-sm-4, 
.col-md-4, 
.col-lg-4, 
.col-xs-5, 
.col-sm-5, 
.col-md-5, 
.col-lg-5, 
.col-xs-6, 
.col-sm-6, 
.col-md-6, 
.col-lg-6, 
.col-xs-7, 
.col-sm-7, 
.col-md-7, 
.col-lg-7, 
.col-xs-8, 
.col-sm-8, 
.col-md-8, 
.col-lg-8, 
.col-xs-9, 
.col-sm-9, 
.col-md-9, 
.col-lg-9, 
.col-xs-10, 
.col-sm-10, 
.col-md-10, 
.col-lg-10, 
.col-xs-11, 
.col-sm-11, 
.col-md-11, 
.col-lg-11, 
.col-xs-12, 
.col-sm-12, 
.col-md-12, 
.col-lg-12 {
	padding-left: 8px;
	padding-right: 8px;
}
@media (max-width: 768px) {
	.container {
		padding-left: 5px;
		padding-right: 5px;
	}
	.row {
	    margin-left: -5px;
	    margin-right: -5px;
	}
	
	.col-xs-1, 
	.col-sm-1, 
	.col-md-1, 
	.col-lg-1, 
	.col-xs-2, 
	.col-sm-2, 
	.col-md-2, 
	.col-lg-2, 
	.col-xs-3, 
	.col-sm-3, 
	.col-md-3, 
	.col-lg-3, 
	.col-xs-4, 
	.col-sm-4, 
	.col-md-4, 
	.col-lg-4, 
	.col-xs-5, 
	.col-sm-5, 
	.col-md-5, 
	.col-lg-5, 
	.col-xs-6, 
	.col-sm-6, 
	.col-md-6, 
	.col-lg-6, 
	.col-xs-7, 
	.col-sm-7, 
	.col-md-7, 
	.col-lg-7, 
	.col-xs-8, 
	.col-sm-8, 
	.col-md-8, 
	.col-lg-8, 
	.col-xs-9, 
	.col-sm-9, 
	.col-md-9, 
	.col-lg-9, 
	.col-xs-10, 
	.col-sm-10, 
	.col-md-10, 
	.col-lg-10, 
	.col-xs-11, 
	.col-sm-11, 
	.col-md-11, 
	.col-lg-11, 
	.col-xs-12, 
	.col-sm-12, 
	.col-md-12, 
	.col-lg-12 {
		padding-left: 5px;
		padding-right: 5px;
	}	
}

/* new xxs layout for extra small devices */
@media (max-width: 420px) {
	h1 {
		padding-left: 5px;
		font-size: 1.8em;
	}
	h2 {
		font-size: 1.5em;
	}
	.hidden-xxs {
		display: none !important;
	}
	tr.hidden-xxs {
		display: table-row !important;
	}
	
	th.hidden-xxs,
	td.hidden-xxs {
		display: table-cell !important;
	}
	
	.visible-xxs {
		display: block !important;
	}
	tr.visible-xxs {
		display: none !important;
	}
	
	th.visible-xxs,
	td.visible-xxs {
		display: none !important;
	}
}


blockquote,
blockquote.pull-right {
	border-color: #34d1be;
	padding: 10px 20px 10px 40px;
}
blockquote.pull-right {
	padding-left: 20px;
	padding-right: 40px;
}
blockquote p {
	font-style: italic;
}
blockquote:before {
	content: "\f10d";
	color: #C2C2C2;
    display: inline;
    font-family: FontAwesome;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    height: auto;
    line-height: normal;
    margin-left: -28px;
    margin-top: 0;
    position: absolute;
    width: auto;
}
blockquote.pull-right:before {
	margin-left: 0;
    right: 50px;
}

.container {
	margin: 0;
	max-width: 1920px;
	width: 100%;
}
.navbar-toggle {
    border: medium none;
    color: #FFFFFF;
    font-size: 1.4em;
    height: 50px;
    margin: 0;
    text-shadow: none;
    width: 50px;
    z-index: 100;
    border-radius: 0;
}
.navbar-toggle .icon-bar {
    background: none repeat scroll 0 0 white;
}
.nav > li {
	float: left;
}
.btn {
	border-radius: 0;
	/* border: none; */
}
.navbar-nav {
	margin: 0 0 0 10px;
}
.navbar-nav > li > a {
    padding-bottom: 15px;
    padding-top: 15px;
    line-height: 24px;
}
.navbar-nav > li > .dropdown-menu {
	border-radius: 0;
	min-width: 223px;
}
.dropdown-menu > li > a {
	color: #707070;
	font-size: 0.875em;
	line-height: 1.7;
}
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus {
	background-color: #f6f6f6;
	color: #707070;
}
.dropdown-menu > li > a {
	padding-left: 35px;
	-webkit-transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;
	transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;
}
.dropdown-menu > li > a > i {
	position: absolute;
	margin-left: -18px;
	margin-top: 4px;
}
.nav-pills > li {
	float: none;
}
.nav-pills > li > a {
	border-radius: 0;
}


.navbar > .container .navbar-brand {
	color: #FFFFFF;
    font-family: 'Titillium Web',Geneva,sans-serif;
    font-weight: 700;
    margin-left: 5px;
}
#logo.navbar-brand > img {
    float: left;
    padding-right: 4px;
}
#header-navbar {
    background: #262525;
    border: 0 none;
    border-radius: 0 0 0 0;
    margin: 0;
    min-height: 50px;
    color: #fff;
    -webkit-box-shadow: inset 0 -1px 0 #191919;
    -moz-box-shadow: inset 0 -1px 0 #191919;
    box-shadow: inset 0 -1px 0 #191919;
}
#header-navbar .navbar-form .form-group {
	position: relative;
}
#header-navbar .navbar-form .form-control {
	background: #131313;
	color: #707070;
	height: 30px;
	line-height: 30px;
	margin-top: 2px;
	font-size: 0.75em;
}
#header-navbar .navbar-form .nav-search-icon {
	position: absolute;
	color: #707070;
	right: 6px;
    top: 8px;
}
#header-navbar .nav > li > a {
	height: 50px;
}
#header-navbar .nav > li > a > span.count {
	background: #fe635f;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	width: 16px;
	height: 16px;
	display: block;
	position: absolute;
	text-align: center;
	font-size: 10px;
	line-height: 16px;
	top: 9px;
	right: 8px;
}
#header-navbar .profile-dropdown > a {
	padding-top: 8px;
	padding-bottom: 7px;
	line-height: 35px;
}
#header-navbar .profile-dropdown > a > img {
	margin-right: 5px;
	float: left;
}
#header-navbar .profile-dropdown > a > span {
	float: left;
	display: block;
	margin-right: 3px;
}
#header-nav .form-control {
	border-radius: 0;
	border: 0;
}
#header-navbar .nav > li > a {
	font-size: 1em;
	padding-left: 18px;
	padding-right: 18px;
	color: #fff;
	border: none;
}
#header-navbar .nav > li > a > i,
#sidebar-nav .nav > li > a > i {
	font-size: 1.25em;
}
#sidebar-nav .nav > li > a:focus,
#sidebar-nav .nav .open > a, 
#sidebar-nav .nav .open > a:focus {
	background: inherit;
}
#header-navbar .nav > li > a:hover,
#header-navbar .nav > li > a:focus,
#header-navbar .nav .open > a, 
#header-navbar .nav .open > a:hover, 
#header-navbar .nav .open > a:focus, 
#sidebar-nav .nav > li > a:hover,
#sidebar-nav .nav .open > a:hover, 
.navbar-toggle:hover,
.navbar-toggle:focus,
.mobile-search.active > .btn {
	background: #34d1be;
    -webkit-box-shadow: inset 0 -1px 0 #2bad9d;
    box-shadow: inset 0 -1px 0 #2bad9d;
    color: #fff;
    outline: none;
}
.nav-pills > li.active > a, 
.nav-pills > li.active > a:hover, 
.nav-pills > li.active > a:focus,
#sidebar-nav .nav-pills > li.active > a, 
#sidebar-nav .nav-pills > li.active > a:hover, 
#sidebar-nav .nav-pills > li.active > a:focus {
	background-color: #34d1be;
	-webkit-box-shadow: 0 -1px 0 0 #8bf2e6 inset, 0 0px 4px rgba(59,59,59,0.6);
	box-shadow: 0 -1px 0 0 #8bf2e6 inset, 0 0px 4px rgba(59,59,59,0.6);
}
#header-navbar .nav > li .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
}
#header-navbar .nav a:hover .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
}
.mobile-search {
	overflow: hidden;
}
.mobile-search > a.btn {
	float: right;
}
.drowdown-search {
	background: #FFFFFF;
    display: block;
    left: 168px;
    padding: 4px 0;
    position: absolute;
    top: 0;
    -webkit-transition: left 0.25s ease-out 0s;
    transition: left 0.25s ease-out 0s;
    width: 0;
    z-index: 1;
    overflow: hidden;
}
.drowdown-search form .form-group {
	position: relative;
	margin: 0 15px;
}
.drowdown-search form .form-control {
    background: none repeat scroll 0 0 #FFFFFF;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #344644;
    font-size: 1em;
    font-weight: 400;
    height: 42px;
    line-height: 42px;
    padding-left: 5px;
    padding-right: 26px;
}
.drowdown-search form .nav-search-icon {
	color: #344644;
    font-size: 1.2em;
    position: absolute;
    right: 5px;
    top: 13px;
    cursor: pointer;
}
.drowdown-search form .form-control::-webkit-input-placeholder { /* WebKit browsers */
    color: #344644;
}
.drowdown-search form .form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #344644;
}
.drowdown-search form .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #344644;
}
.drowdown-search form .form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #344644;
}
.mobile-search.active {
	width: 220px;
}
.mobile-search.active .drowdown-search {
	width: 220px;
	left: 0;
}
@media (max-width: 992px) {
	.mobile-search {
		position: inherit !important;
		overflow: visible;
	}
	.drowdown-search {
	    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	    display: block;
	    left: 0;
	    padding: 10px 0;
	    top: 50px;
	    width: 100%;
	    display: none;
	    -webkit-transition: none;
	    transition: none;
	}
	.drowdown-search form .form-control {
	    font-size: 1.6em;
	    font-weight: 600;
	}
	.drowdown-search form .nav-search-icon {
	    font-size: 1.8em;
	    right: 15px;
	    top: 8px;
	}
	.mobile-search.active {
		width: auto;
	}
	.mobile-search.active .drowdown-search {
		display: block;
		width: 100%;
		left: 0;
	}
}

.navbar-nav > li > .dropdown-menu.notifications-list {
	min-width: 320px;
	padding-bottom: 0;
	padding-top: 0;
	margin-top: 8px;
	color: #707070;
	margin-left: -264px;
}
.notifications-list .item-header {
	font-size: 0.875em;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
}
.notifications-list .item {
	border-top: 1px solid #EBEBEB;
    line-height: 1.4;
    padding-bottom: 0;
    padding-top: 0;
    clear: both;
}
.notifications-list .item a {
    clear: both;
    white-space: normal;
    padding-bottom: 7px;
    padding-top: 7px;
}
.notifications-list .item > a > i {
	color: #fe635f;
}
.notifications-list .item a .content {
	
}
.notifications-list .item a .time {
	color: #34d1be;
	margin-left: 10px;
	position: absolute;
    right: 13px;
    white-space: normal !important;
}
.notifications-list .item a .time i {
	margin-right: 3px;
}
.notifications-list .item-footer {
	background: #E1E1E1;
    padding-bottom: 0;
    padding-top: 0;
}
.notifications-list .item-footer a {
	padding: 8px 20px;
    text-align: center;
    -webkit-transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;
    transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;
}
.notifications-list .item-footer a:hover,
.notifications-list .item-footer a:focus {
	background-color: #34d1be;
	color: #fff;
}
.notifications-list .pointer {
    height: 12px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 21px;
    top: -12px;
    width: 12px;
}
.notifications-list .pointer .pointer-inner {
	position: relative;
}
.notifications-list .pointer .arrow {
	border-color: transparent transparent #FFFFFF;
    border-style: solid;
    border-width: 6px;
    cursor: pointer;
    left: auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1002;
}
.notifications-list .pointer .arrow-border {
    border-color: transparent transparent rgba(0, 0, 0, 0.15);
    border-style: solid;
    border-width: 7px;
    cursor: pointer;
    left: -1px;
    position: absolute;
    top: -2px;
    z-index: 1001;
}
.messages-list .item.first-item {
	border-top: 0 !important;
}
.messages-list .item > a {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 25px;
	-webkit-transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;
	transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;
}
.messages-list .item > a > img {
	position: absolute;
	margin-top: 10px;
}
.messages-list .item > a > .content {
	display: block;
    padding-left: 50px;
    padding-top: 5px;
}
.messages-list .item > a > .content .content-headline {
	color: #605F5F;
    display: block;
    font-weight: 600;
}
.messages-list .item > a > .content .content-text {
	display: block;
    line-height: 1.4;
}

#col-left {
    position: relative;
    color: #003940;
}
#col-left a {
	color: #e1e1e1;
}
#col-left a:hover,
#col-left .nav-active a.nav-link,
#col-left a.active {
	color: #fff;
}
#nav-col {
	padding: 0;
}
#sidebar-nav {
	max-height: 100%;
	padding-left: 0;
	padding-right: 0;
}
#sidebar-nav .nav > li {
	margin: 0;
}
#sidebar-nav .nav > li > a {
	color: #FFFFFF;
	height: 52px;
    line-height: 32px;
    padding-left: 30px;
    border-bottom: 1px solid #4F4F4F;
    box-shadow: 0 -1px 0 #2C2C2C inset;
    -webkit-transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s, box-shadow 0.1s ease-in-out 0s;
    transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s, box-shadow 0.1s ease-in-out 0s;
    overflow: hidden;
}
#sidebar-nav .nav > li > a:hover {
	-webkit-box-shadow: 0 -1px 0 0 #8bf2e6 inset;
	box-shadow: 0 -1px 0 0 #8bf2e6 inset;
}
#sidebar-nav .nav > li.open > a {
	border-bottom-color: #252525;
	outline: none;
	text-decoration: none;
}
#sidebar-nav .nav > li > a > i {
	position: absolute;
	margin-top: 8px;
}
#sidebar-nav .nav > li > a > span {
    padding-left: 35px;
    font-size: 0.875em;
}
#sidebar-nav .nav li > a.dropdown-toggle > .drop-icon {
	color: #595858;
    font-size: 12px;
    margin-top: -6px;
    position: absolute;
    right: 25px;
    top: 50%;
}
#sidebar-nav .nav li.open > a.dropdown-toggle > .drop-icon {
	color: #fff;
}
#sidebar-nav .nav li .submenu {
	display: none;
	background: #252525;
	padding: 0;
	margin: 0;
	list-style: none;
}
#sidebar-nav .nav li.active > .submenu {
	display: block;
}
#sidebar-nav .nav li .submenu > li {
	position: relative;
}
#sidebar-nav .nav li .submenu > li > a {
	border-bottom: 1px solid #313131;
    display: block;
    font-size: 0.875em;
    line-height: 28px;
    padding-left: 66px;
    color: #fff;
    outline: none;
    text-decoration: none;
    -webkit-transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s, box-shadow 0.1s ease-in-out 0s;
    transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s, box-shadow 0.1s ease-in-out 0s;
}
#sidebar-nav .nav li .submenu > li:first-of-type > a {
	border-top: 0;
}
#sidebar-nav .nav li .submenu > li:last-of-type > a {
	border-bottom: 1px solid #4E4E4E;
}
#sidebar-nav .nav li .submenu > li > a:hover,
#sidebar-nav .nav li .submenu > li > a.active {
	text-decoration: none;
	color: #3fcfbb;
	/* background-color: #313131; */
	/* box-shadow: 0 -1px 0 0 #8bf2e6 inset; */
}
.navbar-nav .open .dropdown-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
	left: 0;
	position: absolute;
}
#sidebar-nav .nav > .open > .submenu .submenu {
	display: none;
}
#sidebar-nav .nav > .open > .submenu > li > a {
    position: relative;
}
#sidebar-nav .nav > .open > .submenu > .open > a {
	background: inherit;
    border-bottom-color: #171717;
    -webkit-box-shadow: 0 -1px 0 #171717 inset;
    box-shadow: 0 -1px 0 #171717 inset;
}
#sidebar-nav .nav > .open > .submenu > li > .submenu {
	background-color: #171717;
}
#sidebar-nav .nav > .open > .submenu > li > .submenu > li a:hover {
	/* background-color: #232323; */
	color: #3fcfbb;
}
#sidebar-nav .nav > .open > .submenu > li > .submenu a {
	border-bottom: 0 none;
    border-top: 0 none;
    padding-left: 85px;
}
#sidebar-nav .nav > .open > .submenu > li > .submenu a:before {
	content: "\f111";
    display: inline;
    font-family: FontAwesome;
    font-size: 4px;
    font-style: normal;
    font-weight: normal;
	margin-left: -10px;
    margin-top: 1px;
    position: absolute;
}
#sidebar-nav .nav > .open > .submenu > li > a.dropdown-toggle > .drop-icon {
	font-size: 10px;
	margin-top: -5px;
}
#sidebar-nav .nav > .open > .submenu > .open > a.dropdown-toggle > .drop-icon {
	margin-top: -6px;
}
@media (min-width: 992px) and (max-width: 1200px) {
	#sidebar-nav .nav > li > a {
		font-size: 0.875em;
		padding-left: 15px;
	}
	#sidebar-nav .nav > li > a > span {
		padding-left: 28px;
	}
	#sidebar-nav .nav li .submenu > li > a {
		padding-left: 35px;
		font-size: 0.75em;
	}
	#sidebar-nav .nav > .open > .submenu > li > .submenu a {
		padding-left: 55px;
	}
}
@media (max-width: 992px) {
	.navbar-toggle {
		display: block;
	}
	
	#sidebar-nav.navbar-collapse {
		max-height: 336px;
	}
	#sidebar-nav .nav > li > a {    
		height: 48px;
	    padding-bottom: 5px;
	    padding-top: 5px;
	}
}
@media (max-width: 768px) {
	#logo {
		width: 150px;
		padding-left: 0;
		font-size: 1em;
	}
	#logo img {
		height: 19px;
	}
}
@media (max-width: 400px) {
	#header-navbar .container {
		padding: 0;
	}
	#logo {
		width: auto;
		margin-left: 15px;
	}
	#logo span {
		display: none;
	}
	.profile-dropdown .dropdown-toggle {
	    padding-left: 5px !important;
	    padding-right: 5px !important;
	}
	#header-nav .nav {
		margin-left: 0;
	}
}


#content-wrapper {
	background: #eeeeee;
	height: 100%;
	margin-top: 0;
	margin-bottom: 0;
	position: relative;
	min-height: 100%;
	padding: 15px;
}
#content-wrapper > .row {
	opacity: 0;

	-webkit-transform: translateY(25px);
	-moz-transform: translateY(25px);
	-ms-transform: translateY(25px);
	-o-transform: translateY(25px);
	transform: translateY(25px);

	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
.main-box {
	background: #FFFFFF;
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    margin-bottom: 16px;
    padding: 20px;
}
.main-box h2 {
    margin: 0 0 15px -20px;
    padding: 5px 0 5px 20px;
    border-left: 10px solid #c2c2c2; /*7e8c8d*/
}
@media (max-width: 768px) {
	#content-wrapper {
		padding: 10px 8px;
	}
	.main-box {
		margin-bottom: 10px;
	}
}
@media (max-width: 420px) {
	#content-wrapper {
		padding: 5px;
	}
	.main-box {
		padding: 12px 10px;
	}
	.main-box h2 {
		margin-left: -10px;
	}
}


#footer-bar {
	height: 50px;
	line-height: 50px;
	color: #cccccc;
	font-size: 0.875em;
}
#footer-copyright {
	text-align: center;
	margin: 0;
}
#footer-copyright a {
	color: #ccc;
}
#footer-copyright a:hover {
	
}
@media (max-width: 420px) {
	#footer-bar {
		line-height: 1.5;
		padding-top: 15px;
		padding-bottom: 15px;
		height: auto;
	}
}


/* OTHER */
.the-icons {
	font-size: 0.875em;
	line-height: 2;
}
.the-icons .glyphicon {
	width: 30px;
	text-align: center;
}
.tabs-wrapper .nav-tabs {
    margin-bottom: 15px;
}
.tabs-wrapper .tab-content {
	margin-bottom: 20px;
    padding: 0 10px;
}
.dropdown-example ul.dropdown-menu {
	display: block;
}
svg {
	width: 100% !important;
}
.nav > li{
	padding: 5px;
    text-align: center;
}